body {
  background-color: black;
  color: white;
  font-family: Arial;
}

.title {
  font-size: 25px;
  font-weight: bold;
}

.move_icon {
  height: 50px;
}

.move_button {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-color: transparent;
  margin-right: 10px;
  cursor: pointer;
  border: 3px solid white;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.reset_score_button, 
.auto_play_button {
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
  padding: 8px 15px;
}

.reset-confirm-button {
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
}